<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cot.colabare.approval.mapper.AEmployeeMapper">
	
	<select id="approvalM" resultType="cot.colabare.approval.domain.AEmployeeDto">
		select employee_no, department_id, name, e_mail, position_id from employee where name like #{query}
	</select>
</mapper>