<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cot.colabare.approval.mapper.ApprovalMapper">

	
	
	<insert id="insertApproval" >
		insert into approval
		values (approval_seq.nextval, #{employee_no}, #{department_id}, #{document_no}, #{title}, #{content}, sysdate, null, 'n', null, 'y', #{content2},#{content3},#{content4},#{content5},#{content6},#{content7},#{content8},#{content9},#{content10})
	</insert> 
	
	<select id="lastNum" resultType="cot.colabare.approval.domain.ApprovalDto">
		select approval_no from (select * from approval order by approval_no desc) where rownum = 1
	</select>
	
		      
	<select id="sentList" resultType="cot.colabare.approval.domain.ApprovalDto">
		select a.approval_no, a.employee_no, a.department_id, a.document_no, a.title,  a.write_date, e.name, d.dtitle    
			from approval a, employee e, document d 
				where a.employee_no = e.employee_no and a.document_no = d.document_no  
						and  a.employee_no = #{employee_no}
		
	</select>
	
	<select id="detailReceive" resultType="cot.colabare.approval.domain.ApprovalDto">
	select a.approval_no, a.employee_no, a.department_id, a.document_no, a.title, a.content, a.write_date, a.content2, a.content3, a.content4, 
          a.content5, a.content6, a.content7, a.content8, a.content9, a.content10, d.department_name, e.name
		from approval a, department d, employee e
		where  a.department_id = d.department_id and a.employee_no = e.employee_no
            and a.approval_no = #{approval_no}
	</select>
	
	<select id="rejectList" resultType="cot.colabare.approval.domain.ApprovalDto">
		select a.approval_no, a.employee_no, a.document_no, a.title, a.write_date, d.dtitle, r.approval_active, e.name
			from approval a, document d, approver r, employee e
			where a.approval_no = r.approval_no and a.document_no = d.document_no and a.employee_no = e.employee_no and r.approval_active = 'n' and a.employee_no = #{employee_no}
	</select>
	
	<select id="doneList" resultType="cot.colabare.approval.domain.ApprovalDto">
		select a.approval_no, a.employee_no, a.document_no, a.title, a.write_date, d.dtitle, e.name
			from approval a, document d, approver p, employee e
			where a.document_no = d.document_no and p.approval_no = a.approval_no and a.employee_no = e.employee_no
					and p.approval_active = 'y' and p.employee_no = #{employee_no}
	</select>
	
	<!-- <select id="detailReceive" resultType="cot.colabare.approval.domain.ApprovalDto">
	select a.approval_no, a.employee_no, a.department_id, a.document_no, a.title, a.content, a.write_date, a.content2, a.content3, a.content4, a.content5, a.content6, 
			a.content7, a.content8, a.content9, a.content10, d.department_name, r.employee_no, r.approval_active, r.approval_level, r.approval_date, r.approvercnt, e.name
		from approval a, approver r, department d, employee e
		where a.approval_no = r.approval_no and a.department_id = d.department_id and a.employee_no = e.employee_no
            	  and a.approval_no = #{approval_no} and r.employee_no = #{employee_no}
	</select> -->
	
	<!--  <select id="getTotalCount" resultType="int">
		  select count(*) from approval a, employee e where  a.employee_no = e.employee_no and
		  
		    <include refid="criteria"></include> 
		    
		  a.approval_no > 0  and a.active = 'y'and a.employee_no = #{employee_no}
	  
	  </select> -->
	
	
	
	
	
</mapper>
