<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cot.colabare.approval.mapper.ApprovalMapper">
	
	<insert id="insertApproval" >
		insert into approval
		values (approval_seq.nextval, #{employee_no}, #{department_id}, 22, #{title}, #{content}, sysdate, null, 'n', null, 'y', #{content2},null,null,null,null,null,null,null,null)
	</insert> 
	
	
	

	
	
	
	
	
	
	
</mapper>
