<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cot.colabare.contact.mapper.ContactMapper">
	<cache />
	<select id="getContactList" resultType="cot.colabare.contact.domain.ContactEmplDto">
		<![CDATA[
 		select el.employee_no, el.department_id, el.name, el.position_id,el.employee_img,el.department_name, el.position_name
 		from 
   			(
    		select e.employee_no, e.department_id, e.name, e.position_id,d.department_name, p.position_name,ep.employee_img, rownum rn from 
    		employee e join position p
			on e.position_id=p.position_id
			join department d
			on e.department_id=d.department_id
			join employee_profile ep
      		on ep.employee_no=e.employee_no
			join user_tbl u
      		on u.employee_no=e.employee_no
			where u.enabled='1']]>
			<if test="type != null ">
					and e.department_id=#{type}
				</if>
				<if test="keyword !=null">
					and e.name like '%'||#{keyword}||'%'
				</if>
			<![CDATA[
			and rownum <= #{pageNum} * #{amount}
   			) el where el.rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>
	
	<select id="getContact" resultType="cot.colabare.contact.domain.ContactEmplDto">
    		select e.employee_no, e.department_id, e.name, e.e_mail, e.position_id,d.department_name, p.position_name,ep.employee_img, ep.employee_greeting from 
    		employee e join position p
			on e.position_id=p.position_id
			join department d
			on e.department_id=d.department_id
			join employee_profile ep
      		on ep.employee_no=e.employee_no
			join user_tbl u
      		on u.employee_no=e.employee_no
			where u.enabled='1'
			and e.employee_no=#{employee_no}
	</select>

</mapper>