<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cot.colabare.profile.mapper.ProfileAttachMapper">

<insert id="insertProfilePic">
		insert into employee_profileimg (p_uuid, p_uploadpath, p_filename,employee_no)
		values (#{p_uuid}, #{p_uploadPath}, #{p_fileName},#{employee_no} )
	</insert>

	<delete id="deleteProfilePic">

		delete from employee_profileimg where p_uuid = #{p_uuid}

	</delete>

	<select id="selectProfilePic" resultType="cot.colabare.profile.domain.ProfileAttachDto">
		select * from employee_profileimg where p_uuid = #{p_uuid}
	</select>
	
	<update id="updateProfileInfo" >
		update employee_profile set employee_img=#{p_uuid} where employee_no=#{employee_no}
	</update>

</mapper>